
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(150deg, #75e67117, #5981b6ee);
}

 


